.mb-30 {
  margin-bottom: 30px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.d-none {
  display: none !important; }

.bolder {
  font-weight: 900 !important; }

.tc {
  text-align: center; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit; }

html {
  font-size: 62.5%; }
  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth; } }
  @media only screen and (min-width: 180em) {
    html {
      font-size: 100%; } }

body {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Oswald', 'Franklin Gothic', sans-serif;
  color: var(--text_color); }

.container {
  max-width: 120rem;
  margin: auto;
  width: 95%; }

section {
  padding: 10rem 0; }
  @media only screen and (max-width: 75em) {
    section {
      padding: 5rem 0; } }

img,
video {
  width: 100%;
  height: auto;
  object-fit: cover; }

a {
  text-decoration: none;
  color: inherit; }

li {
  list-style: none; }

button {
  border: none;
  background: none;
  cursor: pointer; }

textarea {
  resize: none; }

.text-gradient-main {
  color: var(--second-gradient);
  -webkit-text-fill-color: var(--second-gradient); }
  @supports (-webkit-background-clip: text) or (background-clip: text) {
    .text-gradient-main {
      background-image: linear-gradient(135deg, var(--first-gradient) 0%, var(--second-gradient) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent; } }
  .text-gradient-main:hover {
    transform: translateX(2px); }
    @media only screen and (max-width: 37.5em) {
      .text-gradient-main:hover:hover {
        transform: translateX(0); } }

.theme-light {
  --bg_color: #fff;
  --text_color: #333;
  --mobile-border: #eee;
  --primary-color: #8ca6db;
  --first-gradient: var(--primary-color);
  --second-gradient: #606c88;
  --second-gradient-bg: #606c88; }

.theme-dark {
  --bg_color: #444;
  --text_color: #eee;
  --mobile-border: #666;
  --primary-color: #8ca6db;
  --first-gradient: #6b7fa7;
  --second-gradient: #6d81a9;
  --second-gradient-bg: #495367; }

.theme-dark .theme__switch-slider:before {
  transform: translateX(19px); }

.theme {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.6rem;
  color: var(--text_color);
  margin-left: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .theme {
      margin: 0; } }
  @media only screen and (max-width: 37.5em) {
    .theme {
      padding: 2.2rem 3rem; } }
  .theme__switch {
    position: relative;
    display: block;
    width: 45px;
    height: 25px;
    margin: 0 5px; }
    .theme__switch-toggle {
      opacity: 0;
      width: 0;
      height: 0; }
    .theme__switch-slider {
      border-radius: 25px;
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.1);
      transition: 0.4s; }
      .theme__switch-slider:before {
        content: '';
        border-radius: 50%;
        background-color: #fff;
        font-family: penciicon;
        position: absolute;
        content: '';
        height: 19px;
        line-height: 20px;
        width: 19px;
        text-align: center;
        left: 3px;
        bottom: 3px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
        font-size: 14px !important;
        transition: all 0.25s ease 0s; }

.heading-primary {
  font-size: 4rem;
  font-weight: 700; }
  @media only screen and (max-width: 56.25em) {
    .heading-primary {
      font-size: 3rem; } }

.section__title {
  margin-bottom: 5rem;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase; }
  @media only screen and (max-width: 56.25em) {
    .section__title {
      font-size: 2.6rem;
      margin-bottom: 2rem; } }

.title-white {
  color: #fff; }

.title-dark {
  color: var(--text_color); }

.heading-tertiary {
  font-size: 2.8rem; }
  @media only screen and (max-width: 56.25em) {
    .heading-tertiary {
      font-size: 2.2rem; } }

.heading-quaternary {
  font-size: 1.8rem; }

.paragraph__text {
  font-size: 1.8rem; }

.paragraph-white {
  color: #fff; }

.logo {
  border-radius: 50%;
  background-color: var(--primary-color); }
  .logo-header {
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    margin-right: 1.5rem;
    flex-shrink: 0; }
    @media only screen and (max-width: 56.25em) {
      .logo-header {
        width: 4.5rem;
        height: 4.5rem;
        margin-right: 1.2rem; } }
  .logo-hero {
    flex-shrink: 0;
    width: 11rem; }
    @media only screen and (max-width: 75em) {
      .logo-hero {
        margin: 0 auto;
        order: -1; } }

.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem 1.8rem;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s; }
  .cta-btn::after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s; }

.main-btn {
  color: var(--second-gradient);
  -webkit-text-fill-color: var(--second-gradient);
  border-width: 2px;
  border-style: solid;
  -moz-border-image: -moz-linear-gradient(135deg, var(--second-gradient) 0%, var(--first-gradient) 100%);
  -webkit-border-image: -webkit-linear-gradient(135deg, var(--first-gradient) 0%, var(--second-gradient) 100%);
  border-image: linear-gradient(135deg, var(--second-gradient) 0%, var(--first-gradient) 100%);
  -webkit-border-image-slice: 1;
  border-image-slice: 1; }
  @supports (-webkit-background-clip: text) or (background-clip: text) {
    .main-btn {
      background-image: linear-gradient(135deg, var(--first-gradient) 0%, var(--second-gradient) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent; } }
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    .main-btn {
      color: var(--second-gradient) !important; }
      .main-btn:hover {
        color: #fff !important; } }
  @media only screen and (max-width: 37.5em) {
    .main-btn {
      background-image: none;
      border: 2px solid var(--second-gradient);
      -webkit-text-fill-color: var(--second-gradient); } }
  .main-btn::after {
    background-image: linear-gradient(135deg, var(--second-gradient) 0%, var(--first-gradient) 100%); }
    @media only screen and (max-width: 37.5em) {
      .main-btn::after {
        background-image: none; } }
  .main-btn:hover {
    -webkit-text-fill-color: #fff;
    text-decoration: none; }
    @media only screen and (max-width: 37.5em) {
      .main-btn:hover {
        -webkit-text-fill-color: var(--second-gradient); } }
    .main-btn:hover::after {
      width: 100%; }

.white-btn {
  border: 2px solid #eee; }
  @media only screen and (max-width: 37.5em) {
    .white-btn {
      background-image: none; } }
  .white-btn::after {
    background: #eee; }
    @media only screen and (max-width: 37.5em) {
      .white-btn::after {
        background: none; } }
  .white-btn:hover {
    -webkit-text-fill-color: var(--second-gradient);
    text-decoration: none; }
    @media only screen and (max-width: 37.5em) {
      .white-btn:hover {
        -webkit-text-fill-color: #eee; } }
    .white-btn:hover::after {
      width: 100%; }

.contact__btn {
  display: flex;
  justify-content: center; }
  .contact__btn-submit {
    transition: none; }

.social {
  display: flex;
  justify-content: center;
  gap: 2rem; }
  .social__item {
    transition: all 0.2s ease-in; }
    .social__item:hover {
      transform: translateY(-2px); }
    @media only screen and (max-width: 37.5em) {
      .social__item:hover {
        transform: translateY(0); } }
  .social__link {
    font-size: 3rem;
    line-height: 3rem; }
  .social-hero {
    flex-direction: column;
    position: absolute;
    left: 10px;
    top: 40%; }
  .social-footer {
    padding: 1rem 0; }

.header {
  position: fixed;
  width: 100%;
  min-height: 9rem;
  z-index: 1000;
  background-color: var(--bg_color);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  will-change: transform; }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem; }
    @media only screen and (max-width: 56.25em) {
      .header__container {
        padding: 0 2rem; } }
  .header__logo {
    display: flex;
    align-items: center;
    padding: 2rem 0; }
    .header__logo-name {
      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px; }
    .header__logo-subtext {
      font-size: 1.4rem;
      transition: color 0.3s; }
      .header__logo-subtext i {
        font-size: 1.6rem;
        margin-right: 2px; }
      .header__logo-subtext:hover {
        color: var(--primary-color); }
      @media only screen and (max-width: 37.5em) {
        .header__logo-subtext:hover {
          color: inherit; } }
  .header__menu-list {
    display: flex; }
  .header__menu-link {
    padding: 2.2rem 3rem;
    display: inline-block;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition: color 0.3s; }
    .header__menu-link:hover {
      color: var(--primary-color); }
    @media only screen and (max-width: 56.25em) {
      .header__menu-link {
        padding: 3rem 1.6rem; } }
    .header__menu-link i {
      margin-right: 4px; }
  .header__hamburger {
    display: none;
    font-size: 2.6rem; }
    @media only screen and (max-width: 37.5em) {
      .header__hamburger {
        display: block; } }
    .header__hamburger-open, .header__hamburger-close {
      padding: 3rem 2.2rem; }
  @media only screen and (max-width: 37.5em) {
    .header__menu {
      position: absolute;
      width: 100%;
      top: 100%;
      right: 0;
      visibility: hidden;
      opacity: 0;
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1); }
      .header__menu-list {
        flex-direction: column; }
      .header__menu-active {
        transition: all 0.3s;
        visibility: visible;
        opacity: 1; }
      .header__menu-item {
        background-color: var(--bg_color); }
        .header__menu-item:first-child a {
          border-top: 1px solid var(--mobile-border); }
      .header__menu-link {
        background-color: var(--bg_color);
        display: block;
        padding: 2.2rem 3rem;
        font-size: 2rem;
        color: var(--text_color);
        text-align: right;
        border-bottom: 1px solid var(--mobile-border);
        transition: color 0.3s; }
        .header__menu-link:hover {
          color: inherit; }
        .header__menu-link i {
          margin-right: 5px; } }

.main {
  background-color: var(--bg_color); }

.hero {
  position: relative;
  height: 100vh;
  min-height: 80rem;
  max-height: 120rem;
  padding: 0;
  background-color: var(--bg_color); }
  .hero__intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 5rem; }
    @media only screen and (max-width: 75em) {
      .hero__intro {
        flex-direction: column; } }

.about {
  background-image: linear-gradient(135deg, var(--first-gradient) 0%, var(--second-gradient-bg) 100%);
  color: #fff;
  height: 100%;
  border-top: 0px; }
  @media only screen and (max-width: 75em) {
    .about {
      padding: 5rem 0;
      height: 100%; } }
  .about__list {
    margin-left: 20px;
    font-size: 1.4rem; }
    .about__list > li {
      list-style: initial; }
  .about__content {
    text-align: left; }
    .about__content-skills {
      display: inline-block;
      text-align: left; }
    .about__content-skill {
      font-size: 1.4rem;
      margin: 2px 0; }
      .about__content-skill:last-of-type {
        margin-bottom: 20px; }
      .about__content-skill i {
        width: 2.5rem;
        font-size: 2rem;
        margin-right: 1rem; }

.projects {
  background-color: var(--bg_color); }
  .projects__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 10rem 0; }
    @media only screen and (max-width: 75em) {
      .projects__wrapper {
        padding: 5rem 0; } }
    .projects__wrapper:not(:last-of-type) {
      border-bottom: 1px solid #ccc; }
  .projects__info {
    text-align: left;
    flex: 0 0 auto;
    margin: 0 auto; }
    .projects__info-description {
      display: block;
      font-size: 1.4rem; }
    .projects__info-stages {
      display: inline-block;
      font-size: 2rem;
      font-weight: 700; }
    .projects__info-stage {
      font-size: 1.4rem; }
      .projects__info-stage:last-of-type {
        margin-bottom: 20px; }
  .projects-title {
    margin-bottom: 0; }
  .projects__media {
    flex: 1 60rem; }

.contact {
  background-image: linear-gradient(135deg, var(--first-gradient) 0%, var(--second-gradient-bg) 100%); }
  @media only screen and (max-width: 75em) {
    .contact {
      padding: 5rem 0;
      margin-top: 0; } }
  .contact__form {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: var(--bg_color);
    padding: 4rem;
    margin-top: 6rem;
    max-width: 80rem;
    text-align: left;
    border-radius: 5px;
    margin: 0 auto 10rem; }
    @media only screen and (max-width: 37.5em) {
      .contact__form {
        padding: 2rem;
        margin: 0 auto 5rem; } }
    .contact__form-field {
      margin-bottom: 2rem; }
    .contact__form-label {
      color: var(--text_color);
      filter: contrast(50%);
      font-size: 1.4rem;
      letter-spacing: 1px;
      font-weight: 700;
      margin-bottom: 1rem;
      display: block; }
    .contact__form-input {
      padding: 1rem;
      width: 100%;
      border: 1px solid #ebebeb;
      font-size: 1.6rem;
      background: #f0f0f0;
      border-radius: 5px; }
      .contact__form-input::placeholder {
        color: #999; }

.footer {
  background: #555;
  color: #fff; }
  .footer .container > :nth-child(2n) {
    background: radial-gradient(circle, #666666 0%, #555555 40%); }
  .footer__divider {
    padding: 1.5rem 0; }
  .footer-educational {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    justify-content: center;
    gap: 50px; }
  .footer__to-top {
    display: inline-block;
    padding: 4rem;
    font-size: 2rem;
    transition: all 0.2s ease-in; }
    .footer__to-top:hover {
      transform: translateY(-2px); }
    @media only screen and (max-width: 37.5em) {
      .footer__to-top:hover {
        transform: translateY(0); } }
  .footer__list {
    font-size: 1.4rem;
    text-align: left; }
  .footer__link {
    display: inline-block;
    font-size: 1.4rem;
    text-decoration: underline;
    padding: 5px 0; }
    @media (hover: hover) and (pointer: fine) {
      .footer__link:hover {
        text-decoration: none; } }
  .footer-copy {
    font-size: 1.2rem; }
