@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tablet {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == laptop {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  //1200-1800 overall styles
  @if $breakpoint == 4K {
    @media only screen and (min-width: 180em) {
      @content;
    } //2880
  }
}

@mixin hoverRise {
  transition: all 0.2s ease-in;
  &:hover {
    transform: translateY(-2px);
  }
}

@mixin supportColorForIE11 {
  color: $secondary-color;
  -webkit-text-fill-color: $secondary-color; // fallback
  @supports (-webkit-background-clip: text) or (background-clip: text) {
    background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}

@mixin supportIE11 {
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    @content;
  }
}
