@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tablet {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == laptop {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  //1200-2880 overall styles
  @if $breakpoint == 4K {
    @media only screen and (min-width: 180em) {
      @content;
    } //2880
  }
}

@mixin hoverRise {
  transition: all 0.2s ease-in;

  &:hover {
    transform: translateY(-2px);
  }
}

@mixin pointer-device {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin supportColorForIE11 {
  color: var(--second-gradient);
  -webkit-text-fill-color: var(--second-gradient); // fallback
  @supports (-webkit-background-clip: text) or (background-clip: text) {
    background-image: linear-gradient(
      135deg,
      var(--first-gradient) 0%,
      var(--second-gradient) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}

@mixin supportIE11 {
  @media screen and (-ms-high-contrast: active),
    screen and (-ms-high-contrast: none) {
    @content;
  }
}
