// Gradient
$primary-color: #8ca6db;
$secondary-color: #606c88;

// Font colors
$white-color: #fff;
$main-color: #333;

$light-grey: #d2d2d2;

// Heading colors
$dark-blue-color: #272341;

// Font sizes
$default-font-size: 1.8rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
$list-font-size: 1.4rem;

//Paddings
$section-top-bottom: 5rem;

//Margins
$section-title-margin-bottom: 5rem;
$list-margin-bottom: 3rem;
