// Font colors
$white-color: #fff;

// Font sizes
$default-font-size: 1.8rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
$list-font-size: 1.4rem;

//Paddings
$section-padding: 10rem;
$section-padding-mobile: 3rem;

//Margins
$section-title-margin: 5rem;
$list-margin: 3rem;
