// Font colors
$white-color: #fff;

// Font sizes
$xsm-font-size: 1.4rem;
$sm-font-size: 1.6rem;
$default-font-size: 1.8rem;
$lg-font-size: 2rem;
$xl-font-size: 2.6rem;
$xxl-font-size: 3rem;
$xxxl-font-size: 4rem;

//Paddings
$section-padding: 10rem;
$header-link-padding: 2.2rem 3rem;

//Margins
$section-title-margin: 5rem;
$list-margin: 3rem;
