#footer {
  background: #555;
  color: $white-color;

  .container {
    & > :nth-child(2n) {
      background: radial-gradient(circle, rgba(102, 102, 102, 1) 0%, rgba(85, 85, 85, 1) 40%);
    }
  }
}

.footer {
  &__divider {
    padding: 1.5rem 0;
  }
  &__to-top {
    display: inline-block;
    padding: 4rem;
    font-size: 2rem;
    i {
      @include hoverRise;
    }
  }

  &__list {
    font-size: 1.4rem;
  }

  &-copy {
    font-size: 1.2rem;
  }
}
