.footer {
  background: #555;
  color: $white-color;

  .container {
    & > :nth-child(2n) {
      background: radial-gradient(
        circle,
        rgba(102, 102, 102, 1) 0%,
        rgba(85, 85, 85, 1) 40%
      );
    }
  }

  &__divider {
    padding: 1.5rem 0;
  }
  &-educational {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    justify-content: center;
    gap: 50px;
  }
  &__to-top {
    display: inline-block;
    padding: 4rem;
    font-size: $lg-font-size;

    @include hoverRise;

    @include respond(mobile) {
      &:hover {
        transform: translateY(0);
      }
    }
  }

  &__list {
    font-size: $xsm-font-size;
    text-align: left;
  }

  &__link {
    display: inline-block;
    font-size: $xsm-font-size;
    text-decoration: underline;
    padding: 5px 0;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        text-decoration: none;
      }
    }
  }

  &-copy {
    font-size: 1.2rem;
  }
}
