.header {
  position: fixed;
  width: 100%;
  min-height: 9rem;
  z-index: 1000;
  background-color: var(--bg_color);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    @include respond(tablet) {
      padding: 0 2rem;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    padding: 2rem 0;

    &-name {
      font-size: $xsm-font-size;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
    }

    &-subtext {
      font-size: $xsm-font-size;
      transition: color 0.3s;

      i {
        font-size: $sm-font-size;
        margin-right: 2px;
      }

      &:hover {
        color: var(--primary-color);
      }

      @include respond(mobile) {
        &:hover {
          color: inherit;
        }
      }
    }
  }

  &__menu {
    &-list {
      display: flex;
    }

    &-link {
      padding: $header-link-padding;
      display: inline-block;
      font-size: $sm-font-size;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      transition: color 0.3s;

      &:hover {
        color: var(--primary-color);
      }

      @include respond(tablet) {
        padding: 3rem 1.6rem;
      }

      i {
        margin-right: 4px;
      }
    }
  }

  &__hamburger {
    display: none;
    font-size: $xl-font-size;

    @include respond(mobile) {
      display: block;
    }

    &-open,
    &-close {
      padding: 3rem 2.2rem;
    }
  }

  @include respond(mobile) {
    &__menu {
      position: absolute;
      width: 100%;
      top: 100%;
      right: 0;
      visibility: hidden;
      opacity: 0;
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);

      &-list {
        flex-direction: column;
      }

      &-active {
        transition: all 0.3s;
        visibility: visible;
        opacity: 1;
      }

      &-item {
        background-color: var(--bg_color);
        &:first-child a {
          border-top: 1px solid var(--mobile-border);
        }
      }

      &-link {
        background-color: var(--bg_color);
        display: block;
        padding: $header-link-padding;
        font-size: $lg-font-size;
        color: var(--text_color);
        text-align: right;
        border-bottom: 1px solid var(--mobile-border);
        transition: color 0.3s;

        &:hover {
          color: inherit;
        }

        i {
          margin-right: 5px;
        }
      }
    }
  }
}
