.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: var(--bg_color);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    @include respond(tablet) {
      padding: 0 2rem;
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    &-name {
      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
    }

    &-subtext {
      font-size: 1.4rem;
      transition: color 0.3s;

      i {
        font-size: 1.6rem;
        margin-right: 2px;
      }

      &:hover {
        color: var(--primary-color);
      }

      @include respond(mobile) {
        &:hover {
          color: inherit;
        }
      }
    }
  }

  &__menu {
    &-list {
      display: flex;
      @include respond(mobile) {
        display: none;
      }
    }

    &-link {
      padding: 2.2rem 3rem;
      display: inline-block;
      font-size: 1.6rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      transition: color 0.3s;

      &:hover {
        color: var(--primary-color);
      }

      @include respond(mobile) {
        &:hover {
          color: inherit;
        }
      }

      @include respond(tablet) {
        padding: 3rem 1.8rem;
        font-size: 1.5rem;
      }

      i {
        margin-right: 4px;
      }
    }
  }

  &__hamburger {
    display: none;
    font-size: 2.6rem;

    @include respond(mobile) {
      display: block;
    }

    &-open,
    &-close {
      padding: 3rem 2.2rem;
    }
  }

  &__mobile {
    position: absolute;
    width: 100%;
    top: 100%;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);

    &-active {
      visibility: hidden;
      opacity: 0;

      @include respond(mobile) {
        visibility: visible;
        opacity: 1;
      }
    }

    &-item {
      &:first-child a {
        border-top: 1px solid #eee;
      }
    }

    &-link {
      background-color: var(--bg_color);
      display: block;
      text-decoration: none;
      padding: 2.5rem 3rem;
      font-size: 1.6rem;
      color: var(--text_color);
      text-align: right;
      border-bottom: 1px solid #eee;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: color 0.3s;

      &:hover {
        color: var(--primary-color);
      }

      i {
        margin-right: 5px;
      }

      @include respond(mobile) {
        &:hover {
          color: inherit;
        }
      }
    }
  }
}
