.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem 1.8rem;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  }
}

.main-btn {
  @include supportColorForIE11();
  border-width: 2px;
  border-style: solid;
  -moz-border-image: -moz-linear-gradient(
    135deg,
    var(--second-gradient) 0%,
    var(--first-gradient) 100%
  );
  -webkit-border-image: -webkit-linear-gradient(
    135deg,
    var(--first-gradient) 0%,
    var(--second-gradient) 100%
  );
  border-image: linear-gradient(
    135deg,
    var(--second-gradient) 0%,
    var(--first-gradient) 100%
  );
  -webkit-border-image-slice: 1;
  border-image-slice: 1;
  @include supportIE11() {
    color: var(--second-gradient) !important;
    &:hover {
      color: $white-color !important;
    }
  }

  @include respond(mobile) {
    background-image: none;
    border: 2px solid var(--second-gradient);
    -webkit-text-fill-color: var(--second-gradient);
  }

  &::after {
    background-image: linear-gradient(
      135deg,
      var(--second-gradient) 0%,
      var(--first-gradient) 100%
    );

    @include respond(mobile) {
      background-image: none;
    }
  }
  @media (prefers-reduced-motion: no-preference) {
    &:hover:not(:disabled) {
      -webkit-text-fill-color: $white-color;
      text-decoration: none;

      @include respond(mobile) {
        -webkit-text-fill-color: var(--second-gradient);
      }

      &::after {
        width: 100%;
      }
    }
  }

  &:disabled {
    opacity: 0.1;
  }
}

.white-btn {
  border: 2px solid #eee;

  @include respond(mobile) {
    background-image: none;
  }

  &::after {
    background: #eee;

    @include respond(mobile) {
      background: none;
    }
  }
  @media (prefers-reduced-motion: no-preference) {
    &:hover {
      -webkit-text-fill-color: var(--second-gradient);
      text-decoration: none;

      @include respond(mobile) {
        -webkit-text-fill-color: #eee;
      }

      &::after {
        width: 100%;
      }
    }
  }
}
