@use '../abstracts/mixins';
@use '../abstracts/variables';

.heading-primary {
  font-size: variables.$xxxl-font-size;
  font-weight: 700;

  @include mixins.respond(tablet) {
    font-size: variables.$xxl-font-size;
  }
}
.section__title {
  margin-bottom: variables.$section-title-margin;
  font-size: variables.$xxxl-font-size;
  font-weight: bold;
  text-transform: uppercase;

  @include mixins.respond(tablet) {
    font-size: variables.$xl-font-size;
    margin-bottom: 2rem;
  }
}

.title-white {
  color: variables.$white-color;
}

.title-dark {
  color: var(--text_color);
}

.heading-tertiary {
  font-size: 2.8rem;

  @include mixins.respond(tablet) {
    font-size: 2.2rem;
  }
}

.heading-quaternary {
  font-size: variables.$default-font-size;
}
