.heading-primary {
  font-size: $xxxl-font-size;
  font-weight: 700;

  @include respond(tablet) {
    font-size: $xxl-font-size;
  }
}
.section__title {
  margin-bottom: $section-title-margin;
  font-size: $xxxl-font-size;
  font-weight: bold;
  text-transform: uppercase;

  @include respond(tablet) {
    font-size: $xl-font-size;
    margin-bottom: 2rem;
  }
}

.title-white {
  color: $white-color;
}

.title-dark {
  color: --var(--text_color);
}

.heading-tertiary {
  font-size: 2.8rem;

  @include respond(tablet) {
    font-size: 2.2rem;
  }
}

.heading-quaternary {
  font-size: $default-font-size;
}
