.heading-primary {
  font-size: 4rem;
  font-weight: 700;
}
.section__title {
  margin-bottom: 3rem;
  font-size: $big-font-size;
  font-weight: bold;
  text-transform: uppercase;

  @include respond(phone) {
    font-size: 2.8rem;
  }
}

.title-white {
  color: $white-color;
}

.title-dark {
  color: $dark-blue-color;
}

.heading-tertiary {
  font-size: 2.4rem;
}
