.logo {
  border-radius: 50%;
  background-color: $primary-color;

  &-header {
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    margin-right: 1.5rem;

    @include respond(tab-portrait) {
      width: 4.5rem;
      height: 4.5rem;
      margin-right: 1.2rem;
    }
  }

  &-hero {
    margin-left: 5rem;
  }
}
