@use '../abstracts/mixins';

.logo {
  border-radius: 50%;
  background-color: var(--primary-color);

  &-header {
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    margin-right: 1.5rem;
    flex-shrink: 0;

    @include mixins.respond(tablet) {
      width: 4.5rem;
      height: 4.5rem;
      margin-right: 1.2rem;
    }
  }

  &-hero {
    flex-shrink: 0;
    width: 11rem;

    @include mixins.respond(laptop) {
      margin: 0 auto;
      order: -1;
    }
  }
}
