.social {
  display: flex;
  justify-content: center;
  gap: 2rem;

  &__item {
    @media (prefers-reduced-motion: no-preference) {
      @include pointer-device {
        @include hoverRise;
      }
    }
  }

  &__link {
    font-size: $xxl-font-size;
    line-height: 3rem;
  }

  &-hero {
    flex-direction: column;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);

    @include respond(mobile) {
      display: none;
    }
  }

  &-mobile {
    display: none;

    @include respond(mobile) {
      position: static;
      transform: none;
      inset: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 2.2rem 3rem;
    }
  }

  &-footer {
    padding: 1rem 0;
  }
}
