.social {
  display: flex;
  justify-content: center;
  gap: 2rem;

  &__item {
    @include hoverRise;

    @include respond(mobile) {
      &:hover {
        transform: translateY(0);
      }
    }
  }

  &__link {
    font-size: $xxl-font-size;
    line-height: 3rem;
  }

  &-hero {
    flex-direction: column;
    position: absolute;
    left: 10px;
    top: 40%;
  }

  &-footer {
    padding: 1rem 0;
  }
}
