.social {
  display: flex;
  justify-content: center;
  gap: 2rem;

  &__item {
    @include hoverRise;
  }

  &__link {
    font-size: 3rem;
    line-height: 3rem;
  }

  &-hero {
    flex-direction: column;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }

  &-footer {
    padding: 1rem 0;
  }
}
