*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%;
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

  @include respond(4K) {
    font-size: 100%;
  }
}

body {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Oswald', 'Franklin Gothic', sans-serif;
  color: var(--text_color);
}

.container {
  max-width: 120rem;
  margin: auto;
  width: 95%;
}

section {
  padding: $section-padding 0;

  @include respond(laptop) {
    padding: $section-padding-laptop 0;
  }
}

img,
video {
  width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

textarea {
  resize: none;
}

.visually-hidden {
  &:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
  }
}
