.theme-dark {
  --bg_color: #444;
  --text_color: #eee;
  --primary-color: #8ca6db;
  --first-gradient: #6b7fa7;
  --second-gradient: #6d81a9;
  --second-gradient-bg: #495367;
}

.theme-dark {
  .theme {
    &__switch {
      &-slider {
        &:before {
          transform: translateX(19px);
        }
      }
    }
  }
}
