@use '../abstracts/mixins';

.text-gradient-main {
  @include mixins.supportColorForIE11();

  @include mixins.respond(phone) {
    background-image: none;
    -webkit-text-fill-color: var(--second-gradient);
  }
  @media (prefers-reduced-motion: no-preference) {
    @include mixins.pointer-device {
      &:hover {
        transform: translateX(2px);
      }
    }
  }
}
