.text-gradient-main {
  @include supportColorForIE11();

  @include respond(phone) {
    background-image: none;
    -webkit-text-fill-color: var(--second-gradient);
  }

  &:hover {
    transform: translateX(2px);

    @include respond(mobile) {
      &:hover {
        transform: translateX(0);
      }
    }
  }
}
