.theme-light {
  --bg_color: #fff;
  --text_color: #333;
  --mobile-border: #eee;
  --primary-color: #8ca6db;
  --first-gradient: var(--primary-color);
  --second-gradient: #606c88;
  --second-gradient-bg: #606c88;
}
