.about {
  background-image: linear-gradient(135deg, var(--first-gradient) 0%, var(--second-gradient-bg) 100%);
  color: $white-color;
  height: 100%;
  border-top: 0px;
  padding-bottom: 10%;

  @include respond(laptop) {
    padding: $section-padding 0;
    height: 100%;
  }

  &__content {
    text-align: left;
    &-skills {
      display: inline-block;
      text-align: left;
    }

    &-skill {
      font-size: $xsm-font-size;
      margin: 2px 0;

      &:last-of-type {
        margin-bottom: $list-margin;
      }

      i {
        width: 2.5rem;
        font-size: $lg-font-size;
        margin-right: 1rem;
      }
    }
  }
}
