@use '../abstracts/mixins';
@use '../abstracts/variables';

.about {
  background-image: linear-gradient(
    135deg,
    var(--first-gradient) 0%,
    var(--second-gradient-bg) 100%
  );
  color: variables.$white-color;
  height: 100%;
  border-top: 0px;

  @include mixins.respond(laptop) {
    padding: variables.$section-padding-laptop 0;
    height: 100%;
  }

  &__list {
    margin-left: variables.$list-margin;
    font-size: variables.$xsm-font-size;

    & > li {
      list-style: initial;
    }
  }

  &__content {
    text-align: left;
    &-skills {
      display: inline-block;
      text-align: left;
    }

    &-skill {
      font-size: variables.$xsm-font-size;
      margin: 2px 0;

      &:last-of-type {
        margin-bottom: variables.$list-margin;
      }

      i {
        width: 2.5rem;
        font-size: variables.$lg-font-size;
        margin-right: 1rem;
      }
    }
  }
}
