.hero {
  position: relative;
  height: 100vh;
  min-height: 80rem;
  max-height: 120rem;
  padding: 0;
  background-color: var(--bg_color);

  &__intro {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 0 6rem;
  }
}
