@use '../abstracts/mixins';

.hero {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: calc(100vh - 9rem);
  background-color: var(--bg_color);

  &__intro {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 5rem 10rem;

    @include mixins.respond(mobile) {
      padding: 5rem 0;
    }
  }
}
