.hero {
  position: relative;
  height: 100vh;
  min-height: 80rem;
  max-height: 120rem;

  &__intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 5rem;

    @include respond(laptop) {
      flex-direction: column;
    }
  }
}
