.projects {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 5rem;
  }

  &__info {
    text-align: left;
    flex: 0 0 auto;
    margin: 0 auto;

    &-stages {
      display: inline-block;
      font-size: 2rem;
      font-weight: 700;
    }

    &-stage {
      font-size: $list-font-size;

      &:last-of-type {
        margin-bottom: $list-margin;
      }
    }
  }

  &__media {
    flex: 1 60rem;
  }
}
